{% extends 'layout.html.twig' %}
{% block title %}Simple MVC{% endblock %}

{% block content %}
  <section>
    <h1>Items</h1>
    <ul>
    {% for item in items %}
      <li><a href="item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  </section>
{% endblock %}
